{{> navbar status=loggedIn}}

<div class="jumbotron main-jumbotron align-content-center">
	<img class="main-logo" src="/assets/imgs/logo-light.svg">
	<div class="text-center down-arrow">
	<a href="#anchor"><i class="fas fa-angle-double-down fa-4x" style="color:white"></i></a>
	</div>
</div>

	<div class="green">
	<div class = "row justify-content-center" id="anchor">
		<div class="col-12 col-md-12">
		<h1 class="text-center">Finding what to watch has never been so easy</h1>
		</div>
	</div>


	<div class = "row justify-content-center mb-3">
		<div class="col-12 col-md-5 col-xl-4">
			<img class='img-fluid' src="/assets/imgs/main-characters.png">
		</div>
		<div class="col-12 col-md-5 col-xl-4">
		<p>ME.dia is an entertainment recommendations app powered through YOU. Sometimes you don't feel like browsing through an endless catalog. Sometimes you just want to login and be told what to watch! Well we're here to help! But of course we don't want to make recommendations you won't like! This is why every person's recommendations are uniquely catered to their interests!</p>

		<p>Powered by TheMovieDB's powerful entertainment API and our own secret sauce, you'll always have something new to watch. Whether it be a gasp inducing, twist ending movie or a dramatic cliff hanger kind of tv show, we'll find something for you. Yes, even the weird stuff. <span class="font-italic">But let's not get too weird...</span></p>

		<p>TV and movies are just the beginning! In the future, music, books, and even video games will be added. We won't just tell you what you should watch, but what you should <span class='font-italic'>listen to, read, and play!</span></p>
		</div>
	</div>
</div>
<div class="container">
	<div class = "row justify-content-center my-2">
		<div class="col-12 col-md-12">
		<h1 class="text-center quote">You had me at Hello...</h1>
		</div>
	</div>
	<div class = "row justify-content-center my-5">
		<div class="col-12 col-md-4">
		<h1 class="text-center"><i class="fas fa-film fa-2x" style="color:#26bc82"></i></h1><br>
		<h5 class="text-left">Find TV &amp; movie recommendations based on the stuff that you already enjoy</h5>
		</div>
		<div class="col-12 col-md-4">
		<h1 class="text-center"><i class="fas fa-align-left fa-2x" style="color:#cec591"></i></h1><br>
		<h5 class="text-left" id="test-section">Add your watch history and get uniquly tailored recommendations, find new stuff to watch!</h5>
		</div>
		<div class="col-12 col-md-4">
		<h1 class="text-center"><i class="fas fa-random fa-2x" style="color: #c8c7d4"></i></h1><br>
		<h5 class="text-left" id="test-section">Recommendations constantly change everytime you visit the app!</h5>
		</div>
	</div>	
	<div class="row justify-content-center">
	<h1 class="break-txt">Putting you and your entertainment, closer together.</h1>
	</div>
</div>

<div class="row justify-content-center break my-5">
</div>

<div class="row justify-content-center my-5">
	<div class="col-12 col-md-10">
	<h1 class="text-center">Testimonials</h1>
	<h2 class="text-center font-italic light">Don't take our word for it? Hear from our happy ME.dia heads</h2>
</div>
</div>

<div class="owl-carousel owl-carousel-reviews owl-theme text-center">
    <div class="review"><p class="text-left">
I'm so lonely and bored like 24/7 and didn't know what to do. I've only watched 3 movies in my life. Shrek, The Bee Movie, and the 2nd Shrek movie. But thanks to ME.dia I've been able to turn those 3 movies into hundreds! I'm constantly always watching new and have made new friends by talking to people during the previews in theaters. I'm excited for what's coming next!</p>
<p class="text-right font-italic light">- Todd, Lives in his mother's basement.</p></div>
    <div class="review"><p class="text-left">
Since Game Of Thrones isn't coming back for another year, I've fallen into a pit of depression. ME.dia has cured my depression. I considered myself a GoT fanatic and watched nothing but GoT. ME.dia has helped me open my horizon. WestWorld?? get into that. I'm shook honestly. I've even gotten into some lighter shows and my weeks are now a strange mix of laughter, crying, and screaming!
    </p>
<p class="text-right font-italic light">- Rebecca, Khaleesi wannabe</p></div>
    <div class="review"><p class="text-left">
I'm not gonna name any names, but a certain streaming service's recommendations sucks donkey butt. It was giving me shows I know for sure I wouldn't like! ME.dia does it better! It takes in my history but filters out all the crap I know I won't enjoy! I don't know how they do it but it's amazing! I just started Agents of SHIELD and am now in a 60 hour binge through the Marvel Cinematic Universe. Send Help.</p>
<p class="text-right font-italic light">Steven, Newly converted MCU Fanboy</p></div>
          
</div>

<div class="row justify-content-center footer p-0 mt-2">
	<div class="col-12 col-md-10 pt-3">
	<p class="text-center font-italic footer-text">Made with <i class="fas fa-heart"></i> by Robert, Sara, &amp; Jimmy. Find us on <a href="https://github.com/robertshaw87/ME-dia"><i class="fab fa-github"></i> Github</a></p>
	</div>
</div>

