{{> navbar}}

<div class="jumbotron main-jumbotron align-content-center">
	<img class="main-logo" src="/assets/imgs/logo-light.svg">
	<div class="text-center down-arrow">
	<a href="#test-section"><i class="fas fa-angle-double-down fa-4x" style="color:white"></i></a>
	</div>
</div>

<div class = "container">
	<div class = "row justify-content-center">
		<div class="col-12 col-md-10">
		<h1 class="text-center">Welcome to ME.dia</h1>
		<h2 class="text-center">How are you today?</h2>
		</div>
	</div>
	<div class = "row justify-content-center">
		<div class="col-12 col-md-10">
		<h1 class="text-center">AT MEDIA U CAN DO DIS</h1>
		<h2 class="text-center" id="test-section">AND WE'LL GIVE U DIS WHEN U TELL US DAT</h2>
		</div>
	</div>	
	<div class = "row justify-content-center">
		<div clas="col-12 col-md-10">
			{{> placeholders/dummy-txt}}
		</div>
	</div>
</div>
