{{> navbar}}

<div class="owl-carousel owl-carousel-big owl-theme text-center">
    <div><img src="/assets/imgs/slider/1.png"></div>
    <div><img src="/assets/imgs/slider/2.png"></div>
    <div><img src="/assets/imgs/slider/3.png"></div>
    <div><img src="/assets/imgs/slider/4.png"></div>
    <div><img src="/assets/imgs/slider/5.png"></div>           
</div>

<div class="container">

{{!-- INPUT FORM --}}
<div class="row justify-content-center add-form">
    <div class="col-12">

        <span class="input input--isao">
        <input class="input__field input__field--isao" type="text" id="media-name" placeholder="Enter the name of a movie or TV show" onfocus="this.placeholder = ''"onblur="this.placeholder = 'Enter the name of a movie or TV show'"/>
        <label class="input__label input__label--isao" data-content="title">
        <span class="input__label-content input__label-content--isao">Title</span>
        </label>
        </span>

    </div>
</div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-4">
            <select id="media-type" class="form-control">
                <option selected>Type</option>
                <option>Movie</option>
                <option>Tv Show</option>
            </select>
        </div>
        <div class="col-12 col-md-8 genre-choices">
        <h2 class="text-left">Select all applicable genres</h2>

        </div>
    </div>
{{!-- INPUT FORM --}}


    <div class="row justify-content-end mt-5">
    <div class=" text-center col-md-2">
      <button id="submit" type="submit" class="btn">Add Media</button>
    </div>
</div>

</div>



