html,
body {
    background-color: #343434;
    color: #fff;
}

.logo {
    height: 30px;
}

a {
    color: #2bbc82;
    text-decoration: none;
}

a:hover {
    color: #cec591;
    text-decoration: none;

}

.btn {
    background-color: #26bc82;
    color: #fff;
}

.btn:hover {
    background-color: #cec591;
}

.main-logo {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    margin-top: -300px;
    /* Half the height */
    margin-left: -300px;
}

.jumbotron {
    width: 100%;
    background-image: url("../imgs/test-background.png");
    background-position: center;
    height: 100vh;
    display: flex;
	align-items: flex-end;
}

.down-arrow {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.poster {
    height: 400px;
/*    display: block;
    margin-left: auto;
    margin-right: auto;*/
}